:root{
  --primary: #2563eb;
  --light: #f1f5ff;
  --dark: #0f172a;
  --card: #ffffff;
}

body{
  margin: 0;
  font-family: Arial;
  background: var(--light);
}

h1,h2,h3{
  color: var(--dark);
}

.btn{
  background: var(--primary);
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
}
.btn:hover{
  transform: scale(1.05);
  transition: 0.3s;
}
form{
  background:white;
  width:300px;
  margin:30px auto;
  padding:20px;
  border-radius:10px;
  box-shadow:0 0 10px #ccc;
}

input{
  width:90%;
  padding:8px;
  margin:8px;
}
